$sage: #C9CBA3;
$peach: #FFE1A8;
$terra: #E26D5C;
$catawba: #723D46;
$burg: #472D30;

body {
  font-family: Calibri Light;
  background: $sage;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Garamond ;
}

.btn-container {
  text-align: center;

  .btn, p {
      display: inline-block;
      margin: 15px;
      height: 100%;
      vertical-align: middle;
  }

  .btn {
      background: $peach;
      color: $burg;
      font-size: 15px;
      font-weight: 400;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 15px;
      padding-left: 15px;
      text-decoration: none;
      border: 2px solid $catawba;
      cursor: pointer;
  }

  p {
      color: $burg;
      font-size: 15px;
      font-weight: 400;
  }
  
}

.form-container {
  text-align: center;

  h1 {
      margin-top: 40px;
      color: $catawba
  }

  .form {
      display: flex;
      flex-direction: column;
      margin: 30px;
      margin-top: 30px;
      margin-bottom: 30px;

      div {
          margin: 5px;
      }

      .label-text {
          color: $burg;
          font-weight: 500;
          font-size: x-large;
      }

      .input {
          border: 2px solid $burg;
          padding: 5px;
      }

      .sub-btn {
          background: $peach;
          font-size: 15px;
          font-weight: 400;
          margin-top: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          padding-right: 15px;
          padding-left: 15px;
          border: 2px solid $catawba;
          cursor: pointer;

          .btnText {
              text-decoration: none !important;
              color: $burg
          }
      }

      .sub-btn:hover {
          background-color: $terra;
      }
  }
}

.home-container {
  display: flex;
  justify-content: center;

  h1 {
      margin-top: 60px;
      font-size: 45px;
      font-weight: 600;
      color: $catawba;

      text-shadow: 3px 3px 0 black 6px 6px 0 $peach,
      9px 9px $terra;
      text-transform: uppercase;
      font-size: calc(2rem + 3vw);
      text-align: center;
      animation: shadows 2s ease-in infinite, move 2s ease-in infinite;
      letter-spacing: 0.4rem;
  }
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 black;
  }
  20% {
    text-shadow: 3px 3px 0 black,
      6px 6px 0 $peach;
  }
  30% {
    text-shadow: 3px 3px 0 black,
      6px 6px 0 $peach, 9px 9px $terra;
  }
  40% {
    text-shadow: 3px 3px 0 black,
      6px 6px 0 $peach, 9px 9px $terra;
  }
  50% {
    text-shadow: 3px 3px 0 black,
      6px 6px 0 $peach, 9px 9px $terra;
  }
  60% {
    text-shadow: 3px 3px 0 black,
      6px 6px 0 $peach, 9px 9px $terra;
  }
  70% {
    text-shadow: 3px 3px 0 black,
      6px 6px 0 $peach, 9px 9px $terra;
  }
  80% {
    text-shadow: 3px 3px 0 black,
      6px 6px 0 $peach;
  }
  90% {
    text-shadow: 3px 3px 0 black;
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}