$sage: #C9CBA3;
$peach: #FFE1A8;
$terra: #E26D5C;
$catawba: #723D46;
$burg: #472D30;

.container {
    .card {
        background: $peach;
        border: 2px solid black;
        .form-check {
            .species-label {
                color: $burg !important;
                text-shadow: 1px 1px 2px $terra;
                text-decoration: none;
            }
        }

        .species-name {
            padding: 8px
        }

        .btn {
            background: $catawba;
            color: $peach;
            font-size: 15px;
            font-weight: 400;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-right: 15px;
            padding-left: 15px;
            text-decoration: none;
            border: 2px solid $catawba;
            cursor: pointer;

            &:hover {
                background-color: #E26D5C;
            }
        }
    }
}